In [1]:
!pwd

/Users/evaafriana/Desktop/introduction_to_python_for_data_science/pandas_training

In [2]:
path_to_file = "/Users/evaafriana/Desktop/introduction_to_python_for_data_science/pandas_training"

In [3]:
import pandas as pd 
data = pd.read_csv(path_to_file + "/covid-19.csv")
data.head()

   Unnamed: 0     dateRep  day  ...  countryterritoryCode  popData2018  continentExp
0        1257  2020-04-23   23  ...                   BEL   11422068.0        Europe
1        1258  2020-04-22   22  ...                   BEL   11422068.0        Europe
2        1259  2020-04-21   21  ...                   BEL   11422068.0        Europe
3        1260  2020-04-20   20  ...                   BEL   11422068.0        Europe
4        1261  2020-04-19   19  ...                   BEL   11422068.0        Europe

[5 rows x 12 columns]

In [4]:
data = data.iloc[:, 1:]
data.head()

      dateRep  day  month  ...  countryterritoryCode  popData2018  continentExp
0  2020-04-23   23      4  ...                   BEL   11422068.0        Europe
1  2020-04-22   22      4  ...                   BEL   11422068.0        Europe
2  2020-04-21   21      4  ...                   BEL   11422068.0        Europe
3  2020-04-20   20      4  ...                   BEL   11422068.0        Europe
4  2020-04-19   19      4  ...                   BEL   11422068.0        Europe

[5 rows x 11 columns]

In [5]:
data.loc[:, "year"]

0      2020
1      2020
2      2020
3      2020
4      2020
5      2020
6      2020
7      2020
8      2020
9      2020
10     2020
11     2020
12     2020
13     2020
14     2020
15     2020
16     2020
17     2020
18     2020
19     2020
20     2020
21     2020
22     2020
23     2020
24     2020
25     2020
26     2020
27     2020
28     2020
29     2020
       ...
660    2020
661    2020
662    2020
663    2020
664    2020
665    2020
666    2020
667    2020
668    2020
669    2020
670    2020
671    2020
672    2020
673    2020
674    2020
675    2020
676    2020
677    2020
678    2020
679    2020
680    2020
681    2020
682    2020
683    2020
684    2020
685    2020
686    2020
687    2020
688    2020
689    2019
Name: year, Length: 690, dtype: int64

In [6]:
data.loc[:, ["year", "cases", "deaths", "countriesAndTerritories"]]

     year  cases  deaths   countriesAndTerritories
0    2020    933     264                   Belgium
1    2020    973     170                   Belgium
2    2020   1487     145                   Belgium
3    2020   1313     230                   Belgium
4    2020   1045     290                   Belgium
5    2020   1329     306                   Belgium
6    2020   1236     417                   Belgium
7    2020   2454     283                   Belgium
8    2020    530     254                   Belgium
9    2020    942     303                   Belgium
10   2020   1629     254                   Belgium
11   2020   1351     327                   Belgium
12   2020   1684     496                   Belgium
13   2020   1580     283                   Belgium
14   2020   1209     205                   Belgium
15   2020   1380     403                   Belgium
16   2020   1123     185                   Belgium
17   2020   1260     164                   Belgium
18   2020   1661     140                   Belgium
19   2020   1422     132                   Belgium
20   2020   1384     183                   Belgium
21   2020   1189     123                   Belgium
22   2020    876     192                   Belgium
23   2020   1063      82                   Belgium
24   2020   1702      78                   Belgium
25   2020   1850      64                   Belgium
26   2020   1049      69                   Belgium
27   2020   1298      42                   Belgium
28   2020    668      56                   Belgium
29   2020    526      34                   Belgium
..    ...    ...     ...                       ...
660  2020      0       0  United_States_of_America
661  2020      0       0  United_States_of_America
662  2020      3       0  United_States_of_America
663  2020      0       0  United_States_of_America
664  2020      1       0  United_States_of_America
665  2020      0       0  United_States_of_America
666  2020      0       0  United_States_of_America
667  2020      0       0  United_States_of_America
668  2020      1       0  United_States_of_America
669  2020      0       0  United_States_of_America
670  2020      0       0  United_States_of_America
671  2020      0       0  United_States_of_America
672  2020      0       0  United_States_of_America
673  2020      0       0  United_States_of_America
674  2020      0       0  United_States_of_America
675  2020      0       0  United_States_of_America
676  2020      0       0  United_States_of_America
677  2020      0       0  United_States_of_America
678  2020      0       0  United_States_of_America
679  2020      0       0  United_States_of_America
680  2020      0       0  United_States_of_America
681  2020      0       0  United_States_of_America
682  2020      0       0  United_States_of_America
683  2020      0       0  United_States_of_America
684  2020      0       0  United_States_of_America
685  2020      0       0  United_States_of_America
686  2020      0       0  United_States_of_America
687  2020      0       0  United_States_of_America
688  2020      0       0  United_States_of_America
689  2019      0       0  United_States_of_America

[690 rows x 4 columns]

In [7]:
columns = ["year", "cases", "deaths", "countriesAndTerritories"]
data.loc[:, columns]

     year  cases  deaths   countriesAndTerritories
0    2020    933     264                   Belgium
1    2020    973     170                   Belgium
2    2020   1487     145                   Belgium
3    2020   1313     230                   Belgium
4    2020   1045     290                   Belgium
5    2020   1329     306                   Belgium
6    2020   1236     417                   Belgium
7    2020   2454     283                   Belgium
8    2020    530     254                   Belgium
9    2020    942     303                   Belgium
10   2020   1629     254                   Belgium
11   2020   1351     327                   Belgium
12   2020   1684     496                   Belgium
13   2020   1580     283                   Belgium
14   2020   1209     205                   Belgium
15   2020   1380     403                   Belgium
16   2020   1123     185                   Belgium
17   2020   1260     164                   Belgium
18   2020   1661     140                   Belgium
19   2020   1422     132                   Belgium
20   2020   1384     183                   Belgium
21   2020   1189     123                   Belgium
22   2020    876     192                   Belgium
23   2020   1063      82                   Belgium
24   2020   1702      78                   Belgium
25   2020   1850      64                   Belgium
26   2020   1049      69                   Belgium
27   2020   1298      42                   Belgium
28   2020    668      56                   Belgium
29   2020    526      34                   Belgium
..    ...    ...     ...                       ...
660  2020      0       0  United_States_of_America
661  2020      0       0  United_States_of_America
662  2020      3       0  United_States_of_America
663  2020      0       0  United_States_of_America
664  2020      1       0  United_States_of_America
665  2020      0       0  United_States_of_America
666  2020      0       0  United_States_of_America
667  2020      0       0  United_States_of_America
668  2020      1       0  United_States_of_America
669  2020      0       0  United_States_of_America
670  2020      0       0  United_States_of_America
671  2020      0       0  United_States_of_America
672  2020      0       0  United_States_of_America
673  2020      0       0  United_States_of_America
674  2020      0       0  United_States_of_America
675  2020      0       0  United_States_of_America
676  2020      0       0  United_States_of_America
677  2020      0       0  United_States_of_America
678  2020      0       0  United_States_of_America
679  2020      0       0  United_States_of_America
680  2020      0       0  United_States_of_America
681  2020      0       0  United_States_of_America
682  2020      0       0  United_States_of_America
683  2020      0       0  United_States_of_America
684  2020      0       0  United_States_of_America
685  2020      0       0  United_States_of_America
686  2020      0       0  United_States_of_America
687  2020      0       0  United_States_of_America
688  2020      0       0  United_States_of_America
689  2019      0       0  United_States_of_America

[690 rows x 4 columns]